<head>
    <script src="https://unpkg.com/vue"></script>
    

</head>
<body>
    <div class="container col-md-12 button-wrapper">
        <div id="Index">
            <h2>TidsRegistrering</h2>
            @* MedlemsNummer input *@
            <div id="custom-margin-from-top">
                <div class="form-group input-group">
                    <label for="medNr">Medlems Nr.:</label>
                    <input v-model="medlemsNr" type="text" class="form-control" id="medNr">

                </div>
                @* Antal timer input *@
                <div class="form-group input-group">
                    <label for="Timer">Antal Timer:</label>
                    <input v-model="antalTimer" type="text" class="form-control" id="Timer">
                </div>
            </div>

            @*Laug input*@
            <div class="form-group input-group">
                <label for="test">Laug:</label>
                <select v-model="laug" class="form-control">
                    <option v-for="entry in laugListe">{{entry.Navn}}</option>
                </select>
            </div>

            @* Dato input *@
            <label for="Timer">Dato:</label>
            <div class="iform-group input-group">
                <div class="input-group date" data-provide="datepicker">
                    <input v-model="dato" type="text" class="form-control" id="datetimepicker">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>

            <div class="button-wrapper input-group">
                <button v-on:click="ConvertToJson" type="button" class="btn btn-primary">Submit</button>
            </div>

            <p>{{Json}}</p>
        </div>

    </div>



    <script>

        class Data {
            constructor(MedlemsNr, AntalTimer, Dato, Laug) {
                this.MedlemsNr = MedlemsNr;
                this.AntalTimer = AntalTimer;
                this.Dato = Dato;
                this.Laug = Laug;
            }
        }

        class Laug {
            constructor(Navn) {
                this.Navn = Navn;
            }
        }
        new Vue({
            el: '#Index',
            data: {
                medlemsNr: '',
                antalTimer: '',
                dato: '',
                laug: 'Laug',
                Json: '',
                laugListe:
                [
                    new Laug(
                        'Laug 1'
                    ),
                    new Laug(
                        'Laug 2'
                    ),
                    new Laug(
                        'Laug 3'
                    ),
                    new Laug(
                        'Laug 4'
                    ),
                    new Laug(
                        'Laug 5'
                    ),
                    new Laug(
                        'Laug 6'
                    ),
                    new Laug(
                        'Laug 7'
                    ),
                    ]
            },
            methods: {
                ConvertToJson: function (event) {
                    var tempDato = $("#datetimepicker").val();
                    this.dato = tempDato; // Kan ikke lide den måde vi får dato værdi på

                    var test = new Data();
                    test.MedlemsNr = this.medlemsNr;
                    test.AntalTimer = this.antalTimer;
                    test.Dato = this.dato;
                    test.Laug = this.laug

                    this.Json = JSON.stringify(test);
                }
            }

        })


    </script>
</body>
