<head>
    <script src="https://unpkg.com/vue"></script>
    

</head>
<body>
    <div class="container col-md-12 button-wrapper">
        <div id="Index">
            <h2>TidsRegistrering</h2>
            @* MedlemsNummer input *@
            <div id="custom-margin-from-top">
                <div class="form-group input-group">
                    <label for="VolNum">Medlems Nr.:</label>
                    <input v-model="VolunteerId" type="text" class="form-control" id="VolNum">

                </div>
                @* Antal timer input *@
                <div class="form-group input-group">
                    <label for="Time">Antal Timer:</label>
                    <input v-model="Hours" type="text" class="form-control" id="Time">
                </div>
            </div>

            @*Laug input*@
            <div class="form-group input-group">
                <label for="test">Laug:</label>
                <select v-model="Guild" class="form-control">
                    <option v-for="entry in guildList">{{entry.Name}}</option>
                </select>
            </div>

            @* Dato input *@
            <label for="Timer">Dato:</label>
            <div class="iform-group input-group">
                <div class="input-group date" data-provide="datepicker">
                    <input v-model="Date" type="text" class="form-control" id="datetimepicker">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>

            <div class="button-wrapper input-group">
                <button v-on:click="ConvertToJson" type="button" class="btn btn-primary">Submit</button>
            </div>

            <p>{{Json}}</p>
        </div>

    </div>



    <script>

        class Registration {
            constructor(VolunteerId, Hours, Date, GuildId) {
                this.VolunteerId = VolunteerId;
                this.Hours = Hours;
                this.Date = Date;
                this.GuildId = GuildId;
            }
        }

        class Guild {
            constructor(Name) {
                this.Name = Name;
            }
        }

        var vue = new Vue({
            el: '#Index',
            data: {
                VolunteerId: '',
                Hours: '',
                Date: '',
                Guild: 'Laug',
                Json: '',
                guildList: []
            },
            methods: {
                GetGuilds: function (event) {
                    $.get('/api/GetGuilds', (data) => {
                        for (index in data) {
                            this.guildList.push(new Guild(data[index].GuildName));

                        }
                    })
                },
                ConvertToJson: function (event) {
                    var tempDato = $("#datetimepicker").val();
                    this.Date = tempDato; // Kan ikke lide den måde vi får dato værdi på

                    var test = new Registration();
                    test.VolunteerId = this.VolunteerId;
                    test.Hours = this.Hours;
                    test.Date = this.Date;
                    test.GuildId = this.Guild

                    this.Json = JSON.stringify(test);
                }
            }

        })
        vue.GetGuilds();

    </script>
</body>
